@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

:root {
  --palette-purple-dark: #25076B;
  --palette-purple-med: #46178F;
  --palette-purple-light: #864CBF;
  --palette-purple-lighter: #C2A5DF;
  --palette-grey-dark: #333333;
  --palette-grey-med: #767676;
  --palette-grey-light: #999999;
  --palette-grey-lighter: #F2F2F2;

  --text-light-on-dark: white;
  --text-dark-on-light: #333333;

  --weight-light: 300;
  --weight-regular: 400;
  --weight-bold: 700;
  --weight-black: 900;

}

body {
  margin: 0;

  background-color: var(--palette-grey-lighter);
}

* {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

h1 {
  font-weight: var(--weight-black);
}

#main {
  padding-bottom: 85px;
}

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

}


/* Footer */

#footer {
  display: block;
  margin-top: auto;
  height: 85px;
  width: 100%;

  background-color: var(--palette-purple-med);
  border-top: 5px solid var(--palette-purple-dark);

  text-align: center;
  color: var(--palette-purple-dark)
}
#footer a {
  color: var(--palette-purple-dark);
}


/* Header */

#header .header-title {
  display: inline-block;
  position: relative;
  vertical-align: top;

  left:25px;
}
#header .header-title a{
  display: block;
  padding: 7px 16px;
  height:100%;

  font-size: 25px;
  color: var(--text-light-on-dark);
  font-weight: var(--weight-black);
  text-align: center;
  text-decoration: none;
}
#header nav {
  display:block;
  height: 50px;

  background-color: var(--palette-purple-med); 
  border-bottom: 5px solid var(--palette-purple-dark);
}
#header ul {
  position:relative;
  float: right;
  right:10%;
  margin: 0;
  padding: 0;

  overflow: hidden;

  list-style-type: none;
}
#header li {
  float:right;
}
#header li a {
  display: block;
  
  color: var(--text-light-on-dark);
  font-weight: var(--weight-bold);
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}