#header .header-title {
  display: inline-block;
  position: relative;
  vertical-align: top;

  left:25px;
}
#header .header-title a{
  display: block;
  padding: 7px 16px;
  height:100%;

  font-size: 25px;
  color: var(--text-light-on-dark);
  font-weight: var(--weight-black);
  text-align: center;
  text-decoration: none;
}

#header nav {
  display:block;
  height: 50px;

  background-color: var(--palette-purple-med); 
  border-bottom: 5px solid var(--palette-purple-dark);
}

#header ul {
  position:relative;
  float: right;
  right:10%;
  margin: 0;
  padding: 0;

  overflow: hidden;

  list-style-type: none;
}
#header li {
  float:right;
}
#header li a {
  display: block;
  
  color: var(--text-light-on-dark);
  font-weight: var(--weight-bold);
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}